<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Open Trivia - Score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">score</ion-title>
    </ion-toolbar>
  </ion-header>

      <!-- Game finished -->
    <div id="container">
        <h2>Félicitations ! Vous avez gagné {{ points }} points.</h2>
        <ion-button (click)="restart()">Rejouer</ion-button>
        <ion-button (click)="takePicture()">
          Prendre une photo
          <ion-icon icon="camera-outline"></ion-icon>
        </ion-button>
      </div>
</ion-content>
