<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Open Trivia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="wrapper">
      <div class="flex flex-col gap-4">
        <ion-item>
          <ion-input type="text" [(ngModel)]="username" label="Votre pseudo" labelPlacement="floating" />
        </ion-item>

        <ion-item>
          <ion-select label="Difficulté" value="{{ selectedDifficulty }}" [(ngModel)]="selectedDifficulty">
            <ion-select-option *ngFor="let diffi of difficulties" value="{{ diffi }}">
              {{ diffi | titlecase }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-toggle [(ngModel)]="rememberMe">Se souvenir de moi</ion-toggle>
        </ion-item>

        <div class="flex flex-col items-start">
          <div>
            <ion-button type="button" (click)="startGame()"> Commencer </ion-button>
          </div>
        </div>
      </div>

      <ion-alert
        [isOpen]="displayError"
        header="Information Manquante"
        message="{{ errorMsg }}"
        [buttons]="alertButtons"
        (didDismiss)="setErrorAlert(false)"
      ></ion-alert>
    </div>
  </div>
</ion-content>
